body{
    margin: 0px;
    padding: 0px;
    font-family: "Bodoni MT";
    background-color: #c2c2c2;
}
.postagens img {
    width: 600px;
}
.header {
    width: 100%;
}
.informacao{
    display: flex;
    text-align: justify;
}
h2 {
    font-size: 30px;
}
p{
    font-size: 20px;
}
.fotoeu{
    width: 200px;
}